<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/brr g.png" alt="Workplace" usemap="#workmap" width="1050" height="700">
  
   

  <map name="workmap">

    <area shape="circle" coords="350,250,25,25" alt="" href="/barreirense">
    <area shape="circle" coords="300,350,25,25" alt="" href="/moinhos">
    <area shape="circle" coords="625,500,25,25" alt="" href="/auditorio-augusto-cabrita">


</map>

</ion-content>
